<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Way Back Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/flat-ui.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<div class="form-group has-error">
    <h4 th:inline="text">
        [[${data}]]
    </h4>
</div>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/flat-ui.min.js"></script>
</body>
</html>